.link_title {
    text-decoration: none;
}

.link_title:hover{
    color:white;
    background-color: rgb(53, 199, 53);
}

.main_title{
    color:blue;
}

.ineedbold{
    margin:0 auto;
    width:930;
}
