<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/deco.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Market</title>
    {%include 'everything.html' %}<br>
</head>
<body>
    <a href="/test" class="link_title">포스팅하러가기</a><br>
    <form action="" method="POST">
    <ol>
        <li><a href="bag" class="link_list">물</li>
        <li><a href="bag" class="link_list">휴지</li>
        <li><a href="bag" class="link_list">라면</li>
        <li><a href="bag" class="link_list">김치</li>
        <li><a href="bag" class="link_list">햇반</li>
        <li><a href="bag" class="link_list">통조림</li>
        <li><a href="bag" class="link_list">발효식품</li> 
    </ol>
    </form>
</body>
</html>
    <fieldset>
        <legend class="blind">정보입력</legend>
        <input class="input_box" stype="text" name="test">
    </fieldset>
    </div>
    <input type="submit" class="submit_text" value="등록">
</form>